body, html {
    height: 100%;
    width: 100%;
}

form {
	width: 300px;
    margin: 200px auto 0;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
	background-color: #000;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  margin-bottom: 0;
  background-color: #000;
}

#map {
    height: 600px;
    width: 100%;
}

.angular-google-map-container {
    height: 990px;
}
